 /************* Typography ******************/

* {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
/*  transition: all 0.3s linear;*/
  }

.mob-nav {display: none;}

.transition{transition: all 0.3s linear;}

.text-light{color: #ccc!important;}

.pointer{cursor: pointer;}

.modal{z-index: 99999;}

.rotate-180{transform: rotate(180deg);}

.form-box{display: none;}

.cnt {display: flex;margin: 20px auto;}

.text-center-md {text-align: center;}

.dropdown .rounded {border-radius: 25px!important;}

.d-none2 {display: none;}

.fa-2x {
    font-size: 1.5em;
}

select option {
  background: rgba(0, 0, 0, 0.85);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


html,
body {height: 100%;width: 100%;}

.top-search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,0.6);
  opacity: 1; /* Firefox */
}


/*

html {
  scroll-behavior: smooth;
}
*/


h1 {
  font-family: Consolas, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.caramel_color {color: #fbd747!important;}

/*
.scrolled {
    background: rgba(0,0,0,0.65)!important;
}
*/

.custColor {
  color: #D1B57C;
}


#sect {
  width: 100%;
  float: left;
  height: 75vh;
  position: relative;
  max-height: 750px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

#sect::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  z-index: 6;
}



#mainslide {
	overflow: hidden;
	position: relative;
    height: 85vh;
    width: 100%;
	margin-top: 62px;
}

#mainslide .header {
	position: absolute;
    z-index: 99;
    color: #fff;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
	text-align: center;
	max-width: 650px;
    padding: 10px
}

#mainslide .left {
	top: 60%!important;
    transform: translate(0,-40%)!important;
    left: 2%!important;
    text-align: left!important;
}

#mainslide .header h1 {
    font-weight: 700;
    letter-spacing: 5px;
}

#mainslide .header p {
	font-size: 14px;
    line-height: 25px;
    font-weight: 400 !important;
    letter-spacing: 1.12px !important;
    margin: 40px 0;
}

#slideshow {
 	position: relative;
    width: 100%;
    height: 100vh;
	
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

#slideshow > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed!important;
	
}


@keyframes slideShow {
  0% {
    transform:scale(1);
  }
  30% {
    transform:scale(1.1);
  }
  60% {
    transform:scale(1.2);
  }
  80% {
    transform:scale(1.1);
  }
  100% {
    transform:scale(1);
  }    
 }


/*===================  Start Scroll Bar   ======================*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*===================  End Scroll Bar   ======================*/

	
/*
.navbar:hover {background: rgba(0,0,0,0.8)!important;}
*/

.nav-hover:hover {
	background: #555;
	color: #fff;
}

.nav-hover:hover .nav-link {
	color: #fff!important;
}

.navbar-brand {
    padding: unset;
}


.navbar-toggler {
	display: flex;
	padding: unset;
    font-size: 1rem;
    line-height: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
}


.nav-item {
	margin-right: 10px;
}


.nav-item .dropdown-toggle-split {
    padding: unset;
	color: rgba(255,255,255,.5);
    padding-top: 8px;
}

.nav-item .dropdown-menu {
    background-color: #242526;
    border-radius: 5px;
	top: 180%;
}

.nav-item .dropdown-item {
    color: #fff;
    border-radius: 5px;
}

.nav-item .dropdown-item:focus, .nav-item .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #eee;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-weight: 900;}

.navbar-light .navbar-nav .nav-link.active {color:#fbd747}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
	color:#fbd747;}

.navbar-light  ul li{padding: 5px 10px 0 5px;} 

.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #fbd747;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*===================  Start Mobile Navbar   ======================*/

#mobile-nav
{
	position:fixed;top:0;padding-top:18px;bottom:0;z-index:998;background:rgba(0,0,0,0.8);left:-290px;width:290px;overflow-y:auto;transition:0.4s
}

#mobile-nav ul{padding:0;margin:0;list-style:none}
#mobile-nav ul li{position:relative}
#mobile-nav ul li a{color:#fff;font-size:13px;text-transform:uppercase;overflow:hidden;padding:10px 22px 10px 15px;position:relative;text-decoration:none;width:100%;display:block;outline:none;font-weight:700}
#mobile-nav ul li a:hover{color:#fff}
#mobile-nav ul li li{padding-left:30px}
#mobile-nav ul 
.menu-has-children i{position:absolute;right:0;z-index:99;padding:15px;cursor:pointer;color:#fff}
#mobile-nav ul .menu-has-children i.fa-chevron-up{color:#d1ab7f}
#mobile-nav ul .menu-has-children li a{text-transform:none}
#mobile-nav ul .menu-item-active{color:#d1ab7f}
#mobile-body-overly
{
	width:100%;
	height:100%;
	z-index:997;
	top:0;
	left:0;
	position:fixed;
	background:rgba(0,0,0,0.7);
	display:none
}

body.mobile-nav-active{overflow:hidden}
body.mobile-nav-active #mobile-nav{left:0}
body.mobile-nav-active #mobile-nav-toggle{color:#fff}



/*===================  End Mobile Navbar   ======================*/



.banner-content {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  width: 100%;
}
.cnt {margin: 0 auto;}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b i,
.cd-words-wrapper b em {
  font-style: normal;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

b {
  font-weight: 600!important;
}


/*************Animated Header************/

.header {
/*   min-height: 720px;*/
	width: auto;
	background: url(" ../img/cover.jpg") ;
	background-size: 100% 100%;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
 }


/*============================== About ================================*/

.no-padding {
  width: 100%;
  float: left;
  height: auto;
  padding: 0px 0;
}

.section-spacing {
  width: 100%;
  float: left;
  height: auto;
/*  padding: 75px 0;*/
	background: #181818 ;
	background-size: 100% 100%;
	background-attachment:fixed;
	position:relative;
}

.section-spacing.inverse {
  background: #fcfcfc;
}

.section-spacing.inverse .poster-card {border: 1px solid #ccc}

.section-title {
  width: 100%;
  float: left;
  height: auto;
  color: #D1B57C;
}

.text-block {
  width: 100%;
  float: left;
  height: auto;
}

.reflect {position: relative;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
    -moz-backface-visibility: hidden;}

.front {position: absolute;
        z-index: 2;
        backface-visibility: hidden;}

.back {z-index: 1;
       transform: rotateY(180deg);
       backface-visibility: hidden;}

.reflect1 {transform: rotateY(180deg)}

 .card:hover {box-shadow:0 0 0 0 #fff;
                   cursor: pointer;}


.cnt {display: flex;
      margin: 0 auto;}

.card-title {display: inline-flex}
/*About me - ends*/


/*================================= Services ==============================*/



.rate {
    width: 40px;
    height: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
    background: #fe7900;
    border-radius: 50%;
}

.rate h5 {display: flex;}

.rate h5 .fa {display: inherit;}
/*services ends*/

.vote {
    z-index: 2;
    display: flex;}

.vote h5 {display: flex;}

.vote h5 .fa {display: inherit;}

/*================================= poster card =================================*/


.poster {position: relative;}

.poster-card {
	display: flex;
    margin: 10px auto;
    border-radius: 6px;
    overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.15);
}

.c-body {
	background-color: #000;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 0px 10px;
    overflow: visible;
	width: 100%;
/*    max-width: 300px;*/
	
}

.c-body a:hover 
	{
		color: #fff;
		text-decoration: underline;
	}

.c-body .get_trailer:hover
{
	color: #fff;
    text-decoration: underline;
}

.c-title {
	display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    width: 235px;
}

.c-title a {width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;}

.c-title span {line-height: 1em;}

.c-text {
	margin-left: 5px;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.2em;
	margin-top: 10px;
	max-height: 200px;
	color: #fff;
	font-size: 13px;
}

.cate span {
	padding: 1px 5px 4px 5px;
	border-radius: 3px;
}

.cate div {
	display: inline-block;
    padding: 0px 4px 3px 4px;
    border-radius: 3px;
    line-height: 1.3;
}

.cate span a, .cate div a {
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 2px;
}

.field-label {
	font-size: 13px;
	color: #888;
	font-weight: bold;
}

.details {
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    background: #000;
}

.details a, .details .get_trailer{
	font-size: 0.9em;
    font-weight: 400;
	display: inline-block;
	color: #ccc;
	margin-right: 30px;
	line-height: 1;
	cursor: pointer;
}

.details a i, .details span i {
	width: 20px;
    float: left;
    margin-top: -4px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background: #fbd747;
    color: #202020;
    font-size: 9px;
    opacity: 0.9;
    transition: all 0.2s linear;
}

a {cursor: pointer}

.details .btn-outline-light {
    background-color: #bf994b;
    border-color: #D1B57C;
	color: #fff!important;
}

.tex {color: #000;
      text-decoration: none;}


 .tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
	background: #000!important;
	border-radius: 6px;
}

 .tooltipster-sidetip.tooltipster-borderless.tooltipster-content {
	background: #000;
	padding: 8px;
}

.tooltipster-sidetip .tooltipster-content {
    color: white;
    line-height: 18px;
    padding: 10px;
}

.variable_card {max-width: 180px; }


.poster_more, .poster_remove {
	background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
	z-index: 9;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b!important;
    text-decoration: none;
    background-color: #eee;
}


/*poster card ends*/

/*======================================== Start actors=============================*/



.actor ul li {font-size: 13px}

.actor p {
    margin-bottom: 0;
}


.actor .card-body  {
    overflow: hidden;
}

.actor .card-footer a  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor h5 {font-size: 0.9rem;}

.actor .card {margin: 10px 0}


/*======================================== End actors=============================*/


.social-mdedia {
  width: 100%;
  float: left;
  text-align: center;
}

.social-mdedia li {
  display: inline-block;
  margin: 0 6px;
}

.social-mdedia li a {
  display: inline-block;
}

.social-mdedia li a .fa {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
  width: 32px;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
	font-size: 20px;
}


.social-mdedia li:first-of-type :hover .fa  {
  background: #fff;
  color: #4266b2;
	
}
.social-mdedia li:nth-of-type(2) :hover .fa  {
  background: #fff;
  color: #1da1f2;
}
.social-mdedia li:nth-of-type(3) :hover .fa  {
  background: #fff;
  color: #ff1e00;
}
.social-mdedia li:last-of-type :hover .fa  {
  background: #fff;
  color: #000;
}

.social-mdedia li:only-of-type :hover .fa  {
  background: #fff;
  color: #D1B57C;
}
.social-mdedia li:only-of-type .fa  {
	font-size: 30px !important;
}

h2 {
  color: #fbd747;
}

.customNav {
  width: 100%;
  margin: 0px !important;
  background-color: #242526 ; /*  #151515*/
  margin-top: 0px !important;
  position: fixed !important;
  z-index: 99;
  transition: all 0.7s linear;
  min-height: 62px;
  top: 0;
  padding: .5rem 1rem 0 .5rem;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.3);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 5px 1px rgba(85, 85, 85, 0.5);
/*	left: 20%;*/
}

.mob-dropdown
{
	background: rgb(0, 0, 0);
    position: absolute;
    top: 180%;
}

.dropdown-item {
    color: #fff;
}

.section-spacing1 {
  width: 100%;
  float: left;
  height: auto;
  padding: 0;
	
}

.footer {    
	width: 100%;
    height: 100%;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.85);  /* rgba(53, 45, 26, 0.9) // rgba(70, 59, 36, 0.85) // rgba(70, 57, 20, 0.85) */ 
    z-index: 4;
    color: #fff;
    border-top: 0.2px solid rgba(255, 255, 255, 0.3);
        }

.footer b {
          font-size: 16px;
          line-height: 3;}

.btn-outline-light {
    color: #D1B57C;
    background-color: transparent;
    background-image: none;
	border-color: #D1B57C;}

.btn-outline-light:hover {
    color: #fff;
    background-color: #D1B57C;
    border-color: #D1B57C;
}

.btn-outline-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(240,146,54,0.66);}
/*  */




.avatar {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 50%;
}

.btn-facebook {
    color: #fff;
    background-color: #3a5897;
    border-color: #3a5897;
	width: 208px;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
	width: 208px;
}

.btn-google:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:active  {
    color: #fbd747;
    font-family: Lobster, 'sans-serif';
    font-weight: 100;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}


/* =========================  SEARCH  =============================== */

.search-row
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    height: 85px;
    position: relative;
}

.search-row:hover
{
    background: rgba(255,255,255,0.30)
}

.search-link 
{
	width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
	cursor: pointer;
}


.top-search
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
/*	border: 1px solid rgba(255, 255, 255, 0.6);*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
/*	border-radius: 10px;*/
	position: relative;
}

.select-search
{
	width: 32%;
	border-right: 1px solid #ffffff;
	height: 46px;
	border: unset;
	background-color: transparent;
	color: #ccc;
	font-weight: 300;
	text-transform: none;
	padding-left: 5px;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}

.search_bar
{
	display: block;
	width: 100%;
	padding: 5px 25px 5px 10px;
	font-size: 14px;
	background-image: none;
	height: 36px;
	border: none;
	background-color: rgba(255, 255, 255, 0.15) !important;
	color: #fff;
/*	border-left: 1px solid rgba(255, 255, 255, 0.25);*/
}

.search_nav .nav-tabs .nav-link.active {
    color: #fbd747!important;
    background-color: unset;
    border: unset;
	border-bottom: 2px solid #fbd747;
}

.search_nav .nav-tabs .nav-link {
    font-size: 13px;
}

.search_nav .nav-tabs  {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.search-pane
{
	height: 250px;
	overflow: auto;
}

#search_result,#search_result2,#search_result3
{
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	max-height: 280px;
	overflow: auto; 
	display: none;
	z-index: 999;
}


		
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
  padding: 10px 0;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
  padding: 10px 0;
}

.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 12pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}

.votes {
	color: #fff;
	font-size: 9pt;
	margin-left: 10px;
}	
		
.show_grid, .show_grid2
{
	float: right;
    margin: 5px;
    background: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.15);
    color: #fff; 
    font-size: 12pt;
	transition: all 0.3s linear;
}
		
.show_grid.active, .show_grid2.active  {color: #fbd747; }
		
.fade:not(.show) {
    opacity: 0;
    display: none;
}

.viewall {
	float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px;
	transition: all 0.3s linear;
}

.viewall_light {
	float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px;
	transition: all 0.3s linear;
}

.viewall:hover, .viewall_light:hover {
	text-decoration: none;
	color: #fbd747;
}
		

.slick-list {
padding: 40px 60px !important;}	

.slick-center {
position: relative;
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);}



.slick-center .slick-card {border-bottom: none;}

.slick-card
{
	margin: 10px auto;
	border-bottom: 2px solid #fbd747;
}

.slick-arrow
{
	border: 1px solid rgba(255, 255, 255, 0.49);
	padding: 5px;
	width: 40px;
	height: 70px;
	z-index: 99;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
}

.slick-next:before {
    content: '→';
}
.slick-prev::before {
    content: "←";
}

.title_btn {
margin: 0 5px;
background: #000;
border-radius: 5px;
border: 1px solid rgba(255, 255, 255, 0.5);
box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.15);
transition: all 0.3s linear;
width: fit-content;
display: inline-block;
padding: 3px 15px;
}

.title_btn_light {
margin: 0 5px;
padding: 5px;
border-radius: 5px;
transition: all 0.3s linear;
width: fit-content;
display: inline-block;
color: #fbd747;
background: #fff;
border: 1px solid #555;
box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
		
				/**==================== START BACK TO TOP ====================**/

.back-to-top {
    bottom: 100px;
    line-height: 2;
    margin: 0;
    opacity: .6; 
    padding: 5px;
    position: fixed;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
    height: 50px;
    width: 50px;
	
	border-radius: 50%;
    right: 30px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: #fff;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(255, 137, 57, 0);
    box-shadow: 0 0 5px rgba(255, 137, 57, 0);
	display: none;
}


.back-to-top i {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	color: #fff;
    margin: 0;
    position: relative;
    top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    opacity: 1;
}
.back-to-top:hover i {
    color: #fff;
    top: -5px;
}

				/**==================== END BACK TO TOP ====================**/



				/**==================== Boxoffice Sections ====================**/


.trailer-card
	{
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	
	
.trailer-card:hover, .trailer-card.active 
	{
		background: rgba(255,255,255,0.3);
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

.trailer-card:last-of-type{border-bottom: none!important;}
	
.trailer-video
	{
		min-height: 350px;
		max-height: 400px;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	
.trailer-list
	{
		padding: 20px 5px;
		min-height: 100%;
		max-height: 400px;
		overflow: auto;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.5);
	}



				/**==================== Footer Area  ====================**/


.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget h6 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 600;
}

.single-footer-widget > p {
    color: #ccc;
    font-weight: 300;
}

.single-footer-widget form {
    position: relative;
    z-index: 1;
}

.single-footer-widget form > input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    font-size: 12px;
}

.single-footer-widget form > button {
    padding: 5px 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    z-index: 5;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background: #fbd747;
    background: linear-gradient(to right, #e6c437, #8a7949);
    border-radius: 10px 0;
}

.footer-social-widegt {
    margin-top: 30px;
}

.footer-social-widegt > a {
    color: #fff;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer-social-widegt > a:hover {
    color: #fbd747;
}

.single-tweet a {
    color: #b5aec4;
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 1.9;
}

.single-tweet a > i {
    color: #2bc0a4;
}

.single-tweet span {
    font-size: 12px;
    color: #ccc;
}

.single-footer-widget ul li {
/*
    display: inline-block;
    width: 50%;
    float: left;
*/
    overflow: hidden
}

.single-footer-widget ul li a {
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
    margin-left: -10px;
    transition: all 0.3s linear;
}

.single-footer-widget ul li a:hover {
    margin-left: 5px;
    color: #fbd747;
}

.footer-copywrite-area {
    background-color: #04081d;
    height: 50px;
}

.copywrite-text p {
    margin: 0;
}

.copywrite-text p > a {
    font-weight: 300;
    color: #b5aec4;
}

.footer-nav ul li {
    display: inline-block;
    float: left;
}

.footer-nav ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #b5aec4;
    display: block;
    padding: 0 20px;
}

.page-link {
    color: #000;
}

.page-link:hover {
    z-index: 2;
    color: #fbd747;
    text-decoration: none;
    background-color: #555;
    border-color: #555;
}

.select_page
{
	background: #000;
	color: #fbd747;
}


.actor .card-img-top {
    width: 100%;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.person-card:hover
{
	transform: scale(1.1);
}


.single-tweet img {display: block;margin: 5px auto;}




				/**==================== Start Genres Colors  ====================**/

	.cate_color_28 			{background: #dc3545; } 
	.cate_color_12 			{background: #ec5a1a; } 
	.cate_color_16 			{background: #3498db; } 
	.cate_color_35 			{background: #27ae60; } 
	.cate_color_80 			{background: #9b59b6; } 
	.cate_color_99 			{background: #f1c40f; } 
	.cate_color_18 			{background: #95a5a6; } 
	.cate_color_10751 		{background: #e74c3c; } 
	.cate_color_14 			{background: #1434dc; } 
	.cate_color_36 			{background: #c79836; } 
	.cate_color_27 			{background: #2c3e50; } 
	.cate_color_10402 		{background: #d35400; } 
	.cate_color_9648 		{background: #474787; } 
	.cate_color_10749 		{background: #f10e74; } 
	.cate_color_878 		{background: #2980b9; } 
	.cate_color_10770 		{background: #D6A2E8; } 
	.cate_color_53 			{background: #25949a; } 
	.cate_color_10752 		{background: #B33771; } 
	.cate_color_37 			{background: #F97F51; } 
	
	.cate_color_10759 		{background: #5e1be4; } 
	.cate_color_10763 		{background: #275bc2; } 
	.cate_color_10764 		{background: #a650c5; } 
	.cate_color_10765 		{background: #85093d; } 
	.cate_color_10766 		{background: #c77e8c; } 
	.cate_color_10767 		{background: #73942e; } 
	.cate_color_10768 		{background: #3e275e; } 
	.cate_color_10762 		{background: #2980b9; } 



				/**==================== Start Single Page  ====================**/


	.down-btn
	{
		width: 300px;
		background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
					radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
		opacity: 0.8;
		transition: all 0.3s linear;
	}

	.down-btn:hover
	{
		opacity: 1;
	}
	
	.action-btn
	{
		width: 40px;
		height: 40px;
		border: 2px solid #fff;
		border-radius: 50%;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		cursor: pointer;
		margin: 0px 10px;
    	background: rgba(255, 255, 255, 0.2);
		
	}
	
	.trailer-single-video 
	{
		min-height: 250px;
		max-width: 350px;
		border-radius: 10px;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
	}
	
	.trailers_videos .slick-list, .cridets .slick-list  {
     padding: 10px !important; 
	}
	
	
	.poster_img
	{
		border-radius: 10px; 
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
	}
	
	.movie_year
	{
		font-weight: 100;
		color: rgba(255, 255, 255, 0.6)!important;
		font-size: 14pt;
	}
	
	.layer_background{background: rgba(0,0,0,0.6);}
	
	.action_list
	{
		list-style: none;
		display: flex;
	}
	
	.icon_rating
	{
		width: 90px;
		display: inline-block;
	}
	
	.voting
	{
		font-size: 1.25em;
		font-weight: bold;
		width: 30px;
		display: inline-block;
	}

	.fs-13{font-size: 13px;}	
	
	.w-25{width: 25px!important;}
	
	.mh-70{min-height:70px;}
	
	.details_box
	{
		background: rgba(255, 255, 255, 0.2);
		padding: 10px;
		width: fit-content;
		border-radius: 5px;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	.similar_box
	{
		background: rgba(255, 255, 255, 0.25);
		border-radius: 10px;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	.details_row
	{
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
		padding-bottom: 3px;
	}
	
	.details_icon
	{
		width: 140px;
		display: inline-block;
	}
	
	
	.video_counter
	{
		color: #fff;
		padding-right: 10px;
		font-weight: bolder;
		font-size: 12pt;
	}
	
	.cast_card
	{
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: none;
		border-radius: 1rem;
	}
	
	.back_layer
	{
/*		background: rgba(0, 0, 0,0.8);*/
		padding-top: 100px;
		padding-bottom: 10px;
	}


	.hr_light
	{
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
	}

	.download_modal
	{
		background: rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.4);
	}


	.added .fa-bookmark{color: #e46932;}

	.added .fa-heart{color: #ff3447;}

	.added .fa-star{color: #ffc107;}

				/**==================== End Single Page  ====================**/



				/**==================== Start Browse Page  ====================**/

.form-control, .form-control:active, .form-control:focus
	{
		background: rgba(0,0,0,0.00);
		color: #fff;
	}
	
.btn-filter
	{
		padding: 5px 15px;
		top: 0;
		right: 0;
		font-size: 13px;
		z-index: 5;
		height: 40px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		background: linear-gradient(to right, #e6c437, #8a794b);
		border-radius: 10px 0;
		opacity: 0.8;
		transition: all 0.3s linear;
		border: 1px solid rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.4);
		line-height: 2.5;

	}
	
.btn-filter:hover
	{
		opacity: 1;
	}

.fs-13-t{font-size: 13pt;}

.filter_form
{
	padding: 10px;
	background: rgba(0, 0, 0, 0.35);
	margin-top: 15px;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.5);
}


				/**==================== End Browse Page  ====================**/


				/**==================== Start Corn Page  ====================**/

.fs-15-t{font-size: 15pt;}
	
.like-color{color: #ff3447;}
	
.watchlist-color{color: #e46932;}
	
.list-color{color: #caa552;}
	
.follow-color{color: #9c9887;}
	

.count-card {
    margin: 10px;
    padding: 15px 10px;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.3s linear;
}

.count-card h5 {
    font-size: 0.9rem;
}
	
.counter {
    text-align: center;
    margin-top: 10px;
}
	
.counter span {
    font-size: 12pt;
    font-weight: bold;
	color: #fff;
}
	
.icon {
    float: left;
    padding: 5px;
    color: #fff;
}	
	
	
	
.btn-warning {
    color: #ffffff;
    background-color: #b9974b;
    border-color: #caa551;
    font-weight: bold;
}
	
.btn-list {
    background: linear-gradient(to right, #b9974b, #8a794b);
}
	
.member_date {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.6)!important;
    font-size: 12pt;
}


/**========== Start List Box  ==========**/

.photo-box {position: relative;}

.post-box {
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    opacity: 1;
	transition: all 0.3s linear;
    border-radius: 10px;
}

.post-box .highlight {
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    opacity: 1;
}

.post-box:hover .highlight {
	opacity: 0;
}

.post-box:hover {
	border-radius: 0!important;
}

.post-box .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.post-box .text h6 {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.92px;
    margin-bottom: 10px;
    font-style: normal;
    transition: all 0.5s ease;
}

.post-box .text span , .list-badge {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
}


/**========== End List Box  ==========**/



	.toggle_type 
	{
		margin: 0 5px;
		background: #000;
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.7);
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		transition: all 0.3s linear;
		display: inline-block;
		color: #fff;
		padding: 5px 12px;
		cursor: pointer;
		font-size: 11px;
	}
	
	.toggle_type.active{color: #fbd747;}
	
	.badge-toggle 
	{
		color: #212529;
		background-color: #f8f9fa;
	}
	
	
	.toggle_type.active .badge-toggle
	{
		color: #212529;
		background-color: #ffc107;
	}
	
	.select-wrapper
	{
		border-radius: 30px;
		display: inline-block;
		overflow: hidden;
		background: #000;
		border: 1px solid #ccc;
		float: right;
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		margin: 2px;
	}
	
	.select-control
	{
		width: fit-content;
		background: rgb(0, 0, 0);
   		color: #fff;
		height: calc(1.5em + .75rem + 2px);
		font-size: 0.8rem;
		font-weight: 400;
		line-height: 1.5;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		border: 0px;
		outline: none;
		padding: 0;
		margin: 0!important;
	}
	

	.floaty {
		float: left;
		width: 250px;
		color: #fff;}

	.info p, .info-last p {margin-left: 50px;}

	.info {
		border-bottom: 1px solid #bbb;
		padding-top: 15px;}

	.info-last {
		padding-top: 15px;
		padding-bottom: 1px;}
/*
	.info:hover, .info-last:hover{background-color: rgba(239, 239, 239, 0.5)}
*/
	
	.logo-hov:hover {background: #555; border-radius: 5px;}
	
	.logo_select {background: #bbb; border-radius: 5px; padding: 5px;}

	.sections_bar
	{
		color: #fff;
		text-align: center;
		background: rgba(255, 255, 255, 0.25);
	}

	.person-card
	{
		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
		border: none;
		border-radius: 1rem;
	}

				/**==================== End Corn Page  ====================**/



.as 
{
	color: #6c757d;
    font-weight: 400;
}


.rating_form {
	box-shadow:0 0 5px 1px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

.hr2 
{
	border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.review1
{
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}



.b-border 
{
	 border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.modal-content2
{
	background: #242526;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.b-top-light
{
	border-top: 1px solid #bbb;
}

.avatar-img
{
	border-radius: 50%;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
	display: inline-block;
}







/*======================================== Responsive Design =============================*/

@media only screen and (max-width: 479px) {
  .banner-content h1 {
    font-size: 20px;
    margin: 0 0 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  .service-info .counter {
    font-size: 25px;
  }
  .portfolio_items li {
    width: 50%;
  }
  #filter-list li {
    display: block;
  }
  .col-xs-6 {
    width: 100%;
  }
  .service-info .fa {
    margin: 0 0 15px;
  }
  #video {
    max-height: 400px;
  }
  .btn-primary,
  .btn-default {
    padding: 10px 15px 9px;
  }
	
.variable_card {
	max-width: 118px;
    padding-left: .25rem!important;
    padding-right: .25rem!important;
	}
	
.cate {
	height: 50px;
	overflow: auto;
	}
	
.slick-list {
    padding: 40px 15px !important;
	}
	
}

@media only screen and (min-width: 480px) and (max-width:639px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  .service-info .counter {
    font-size: 25px;
  }
  .portfolio_items li {
    width: 50%;
  }
  #video {
    max-height: 500px;
  }
	
}

@media only screen and (max-width: 639px) {
  #filter-list li {
    margin: 0;
    font-size: 13px;
  }
  .navbar nav ul li {
    margin: 15px 0;
  }
  .navbar nav ul li a {
    font-size: 20px;
  }
  .form-group {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 640px) and (max-width:767px) {
  #filter-list li {
    margin: 0;
  }
  .portfolio_items li {
    width: 50%;
  }
  .service-info .counter {
    font-size: 28px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .navbar nav ul li a {
    font-size: 24px;
  }
  #video {
    max-height: 550px;
  }
}

@media only screen and (max-width: 767px) {
  #banner {
    height: auto;
  }
  .single-img {
    margin: 40px 0 0;
  }
  .service-list {
    margin: 0 0 40px!important;
  }
  #services .col-xs-12:nth-last-child(-n+1) .service-list {
    margin: 0!important;
  }
  .navbar-icon {
    top: 5px;
    right: 5px;
  }
  #footer {
    padding: 30px 0;
  }
  .copyright p {
    margin: 0 0 12px;
  }
	
}

@media only screen and (max-width: 991px) {
	
	.poster img {width: 110px;}
	
	.c-text {display: none;}
	
	.c-title a {font-size: 0.9em;}
	
	.c-title {width: calc(100% - 50px);}
	
	.ratings { padding: 5px 0;}
	
	.full-stars {padding: 5px 0;}
	
	.empty-stars:before, .full-stars:before {font-size: 8pt;}
	
	.rate {width: 30px;height: 30px;}
	
	.rate h5 {
		font-size: 10pt;
    	margin-bottom: 0px;
	}
	
	.field-label {font-size: 12px;}
	
	.cate span a, .cate div a {font-size: 9px;}
	
	.details {padding: 2px;}
	
	.c-body .mt-3 {margin-top: .5rem!important;}
	
	.details a, .details .get_trailer {font-size: 0.7em;}
	
	.details a i, .details span i {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 8px;
	}
	
	.single-tweet img {display: unset;}
	
	.d-mid-none {display: none;}

}

@media only screen and (max-width: 768px) 
{
	.pad {padding-top: 12%}
	
	.mob-nav {display: flex;}
	
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  #banner {
    height: auto;
  }
  .single-img {
    margin: 40px 0 0;
  }
  h2 {
    font-size: 36px;
  }
  .service-info .counter {
    font-size: 28px;
  }
  .service-info .fa {
    font-size: 20px;
    line-height: 70px;
    margin: 0 0 20px;
    width: 70px;
  }
	
	.poster_img {width: 230px;}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #banner {
    max-height: 600px;
  }
}

@media only screen and (max-width: 991px) 
{
	#mobile-nav-toggle{display:inline}
	#nav-menu-container{display:none}
}

@media (min-width: 576px)
{
	.col-person {max-width: 16%;}
	
	.watchlist_icon:hover i
	{
	  color: #e46932;
	}

	.like_icon:hover i
	{
	  color: #ff3447;
	}

	.favorite_icon:hover i
	{
	  color: #ffc107;
	}
	
	.mx-md-2
	{
		margin-left: .5rem!important;
		margin-right: .5rem!important;
	}

}


@media (max-width: 575px)
{
	.col-person {max-width: 50%;}
	
	.text-center-md {text-align: unset;}
	
	 h5 {font-size: 1rem;}
	
	
	
}
