 /************* Typography ******************/

* {
  padding: 0;
  margin: 0;

  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  transition: all 0.3s linear;
  }

html,
body {
  height: 100%;
width: 100%;

}

html {
  scroll-behavior: smooth;
}


h1 {
  font-family: Consolas, sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 40px;
  text-transform: uppercase;
}

.caramel_color {color: #fbd747;}

.scrolled {
    background: rgba(0,0,0,0.4)!important;
}

.custColor {
  color: #D1B57C;
}


#sect {
  width: 100%;
  float: left;
  height: 75%;
  position: relative;
  max-height: 750px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

#sect::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  z-index: 6;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-weight: 900;}

.navbar-light .navbar-nav .nav-link.active {color:#fbd747}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
	color:#fbd747;}

.navbar-light  ul li{padding: 5px 15px;} 

.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #fbd747;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



.banner-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  width: 100%;
}
.cnt {margin: 0 auto;}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b i,
.cd-words-wrapper b em {
  font-style: normal;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

b {
  font-weight: 600!important;
}


/*************Animated Header************/

.header {
/*   min-height: 720px;*/
	width: auto;
	background: url(" ../img/cover.jpg") ;
	background-size: 100% 100%;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
 }


/*============================== About ================================*/

.no-padding {
  width: 100%;
  float: left;
  height: auto;
  padding: 0px 0;
}

.section-spacing {
  width: 100%;
  float: left;
  height: auto;
/*  padding: 75px 0;*/
	background: url(" ../img/body.png") ;
	background-size: 100% 100%;
	background-attachment:fixed;
	position:relative;
}

.section-spacing.inverse {
  background: #fcfcfc;
}

.section-spacing.inverse .poster-card {border: 1px solid #ccc}

.section-title {
  width: 100%;
  float: left;
  height: auto;
  color: #D1B57C;
}

.text-block {
  width: 100%;
  float: left;
  height: auto;
}

.reflect {position: relative;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
    -moz-backface-visibility: hidden;}

.front {position: absolute;
        z-index: 2;
        backface-visibility: hidden;}

.back {z-index: 1;
       transform: rotateY(180deg);
       backface-visibility: hidden;}

.reflect1 {transform: rotateY(180deg)}

 .card:hover {box-shadow:0 0 0 0 #fff;
                   cursor: pointer;}


.cnt {display: flex;
      margin: 0 auto;}

.card-title {display: inline-flex}
/*About me - ends*/


/*================================= Services ==============================*/



.rate {
    width: 40px;
    height: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
    background: #fe7900;
    border-radius: 50%;
}

.rate h5 {display: flex;}

.rate h5 .fa {display: inherit;}
/*services ends*/

.vote {
    z-index: 2;
    display: flex;}

.vote h5 {display: flex;}

.vote h5 .fa {display: inherit;}

/*================================= poster card =================================*/


.poster-card {
	display: flex;
    margin: 10px auto;
    border-radius: 6px;
    overflow: hidden;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
}

.c-body {
	background-color: #000;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 0px 10px;
    overflow: visible;
	width: 100%;
/*    max-width: 300px;*/
	
}

.c-title {
	display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    width: 235px;
}

.c-title a {width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;}

.c-title span {line-height: 1em;}

.c-text {
	margin-left: 5px;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.2em;
	margin-top: 10px;
	max-height: 200px;
	color: #fff;
	font-size: 13px;
}

.cate span {
	padding: 1px 5px 4px 5px;
	border-radius: 3px;
}

.cate div {
	display: inline-block;
	padding: 0px 4px ;
	border-radius: 3px;
}

.cate span a, .cate div a {
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 2px;
}

.field-label {
	font-size: 13px;
	color: #888;
	font-weight: bold;
}

.details {
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
}

.details a{
	font-size: 0.9em;
    font-weight: 400;
	display: inline-block;
	color: #ccc;
	margin-right: 30px;
	line-height: 1;
}

.details a i {
	width: 20px;
    float: left;
    margin-top: -4px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background: #fbd747;
    color: #202020;
    font-size: 9px;
    opacity: 0.9;
    transition: all 0.2s linear;
}

a {cursor: pointer}

.details .btn-outline-light {
    background-color: #bf994b;
    border-color: #D1B57C;
	color: #fff!important;
}

.tex {color: #000;
      text-decoration: none;}


 .tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
	background: #000!important;
	border-radius: 6px;
}

 .tooltipster-sidetip.tooltipster-borderless.tooltipster-content {
	background: #000;
	padding: 8px;
}

.tooltipster-sidetip .tooltipster-content {
    color: white;
    line-height: 18px;
    padding: 10px;
}

.variable_card {max-width: 215px;}

/*poster card ends*/

/*======================================== Start actors=============================*/



.actor ul li {font-size: 13px}

.actor p {
    margin-bottom: 0;
}


.actor .card-body  {
    overflow: hidden;
}

.actor .card-footer a  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor h5 {font-size: 1rem;}

.actor .card {margin: 10px 0}

.single h5 {font-size: 1rem;}

.single .card {margin: 10px 0}

/*======================================== End actors=============================*/

/*======================================== Responsive Design =============================*/

@media only screen and (max-width: 479px) {
  .banner-content h1 {
    font-size: 20px;
    margin: 0 0 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  .service-info .counter {
    font-size: 25px;
  }
  .portfolio_items li {
    width: 50%;
  }
  #filter-list li {
    display: block;
  }
  .col-xs-6 {
    width: 100%;
  }
  .service-info .fa {
    margin: 0 0 15px;
  }
  #video {
    max-height: 400px;
  }
  .btn-primary,
  .btn-default {
    padding: 10px 15px 9px;
  }
	
.variable_card {max-width: 100px;}
	
}

@media only screen and (min-width: 480px) and (max-width:639px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  .service-info .counter {
    font-size: 25px;
  }
  .portfolio_items li {
    width: 50%;
  }
  #video {
    max-height: 500px;
  }
}

@media only screen and (max-width: 639px) {
  #filter-list li {
    margin: 0;
    font-size: 13px;
  }
  .navbar nav ul li {
    margin: 15px 0;
  }
  .navbar nav ul li a {
    font-size: 20px;
  }
  .form-group {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 640px) and (max-width:767px) {
  #filter-list li {
    margin: 0;
  }
  .portfolio_items li {
    width: 50%;
  }
  .service-info .counter {
    font-size: 28px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .navbar nav ul li a {
    font-size: 24px;
  }
  #video {
    max-height: 550px;
  }
}

@media only screen and (max-width: 767px) {
  #banner {
    height: auto;
  }
  .single-img {
    margin: 40px 0 0;
  }
  .service-list {
    margin: 0 0 40px!important;
  }
  #services .col-xs-12:nth-last-child(-n+1) .service-list {
    margin: 0!important;
  }
  .navbar-icon {
    top: 5px;
    right: 5px;
  }
  #footer {
    padding: 30px 0;
  }
  .copyright p {
    margin: 0 0 12px;
  }
	
	
	
	
	
}

@media only screen and (max-width: 991px) {.poster-card {display: block}
	
	.poster img {width: 100%}
	
	.c-text {display: none;}
	

}

@media only screen and (max-width: 768px) {.pad {padding-top: 12%}}

@media only screen and (min-width: 768px) and (max-width:991px) {
  #banner {
    height: auto;
  }
  .single-img {
    margin: 40px 0 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .service-info .counter {
    font-size: 28px;
  }
  .service-info .fa {
    font-size: 20px;
    line-height: 70px;
    margin: 0 0 20px;
    width: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #banner {
    max-height: 600px;
  }
}

@media only screen and (min-width: 1200px) {}

.social-mdedia {
  width: 100%;
  float: left;
  text-align: center;
}

.social-mdedia li {
  display: inline-block;
  margin: 0 6px;
}

.social-mdedia li a {
  display: inline-block;
}

.social-mdedia li a .fa {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
  width: 32px;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
	font-size: 20px;
}


.social-mdedia li:first-of-type :hover .fa  {
  background: #fff;
  color: #4266b2;
	
}
.social-mdedia li:nth-of-type(2) :hover .fa  {
  background: #fff;
  color: #1da1f2;
}
.social-mdedia li:nth-of-type(3) :hover .fa  {
  background: #fff;
  color: #ff1e00;
}
.social-mdedia li:last-of-type :hover .fa  {
  background: #fff;
  color: #000;
}

.social-mdedia li:only-of-type :hover .fa  {
  background: #fff;
  color: #D1B57C;
}
.social-mdedia li:only-of-type .fa  {
	font-size: 30px !important;
}

h2 {
  color: #fbd747;
}

.customNav {
  width: 100%;
  margin: 0px !important;
  background-color: #0000;
  margin-top: 0px !important;
  position: fixed !important;
  z-index: 9999;transition: all 0.5s linear;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px 1px #555;
	left: 20%;
}

.dropdown-item {
    color: #fff;
}

.section-spacing1 {
  width: 100%;
  float: left;
  height: auto;
  padding: 0;
	
}

.footer {    width: 100%;
            height: 50px;
           text-align: center;
	       padding: 3px;
    background-color: #D1B57C;
	z-index: 4;
	
        }

.footer b {color: #000;
          font-size: 16px;
          line-height: 3;
          font-family: 'Lobster', cursive;}

.btn-outline-light {
    color: #D1B57C;
    background-color: transparent;
    background-image: none;
	border-color: #D1B57C;}

.btn-outline-light:hover {
    color: #fff;
    background-color: #D1B57C;
    border-color: #D1B57C;
}

.btn-outline-light:focus {
	box-shadow: 0 0 0 0.2rem rgba(240,146,54,0.66);}
/*  */




.avatar {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
}

.btn-facebook {
    color: #fff;
    background-color: #3a5897;
    border-color: #3a5897;
	width: 208px;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
	width: 208px;
}

.btn-google:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:active  {
    color: #fbd747;
    font-family: Lobster, 'sans-serif';
    font-weight: 100;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}


/* =========================  SEARCH  =============================== */

.search-row
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    height: 95px;
    position: relative;
}

.search-row:hover
{
    background: rgba(255,255,255,0.30)
}

.search-link 
{
	width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}


.top-search
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid rgba(255, 255, 255, 0.6);
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	position: relative;
}

.select-search
{
	width: 32%;
	border-right: 1px solid #ffffff;
	height: 46px;
	border: unset;
	background-color: transparent;
	color: #ccc;
	font-weight: 300;
	text-transform: none;
	padding-left: 5px;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}

.search_bar
{
	display: block;
	width: 100%;
	padding: 5px 25px 5px 10px;
	font-size: 14px;
	background-image: none;
	height: 46px;
	border: none;
	background-color: rgba(255, 255, 255, 0.15) !important;
	color: #fff;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

#search_result
{
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	max-height: 280px;
	overflow: auto; 
	display: none;
}


		
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
  padding: 10px 0;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
  padding: 10px 0;
}

.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 12pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}

.votes {
	color: #fff;
	font-size: 9pt;
	margin-left: 10px;
}	
		
.show_grid
{
	float: right;
    margin: 0 5px;
    background: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
    color: #fff; 
    font-size: 14pt;
	transition: all 0.3s linear;
}
		
.show_grid.active  {color: #fbd747; }
		
.fade:not(.show) {
    opacity: 0;
    display: none;
}

.viewall {
	float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px;
}

.viewall:hover {
	text-decoration: none;
	color: #fbd747;
}
		


